{{> navbar}}

<div class="container">
    <div class="row news-row">
        {{#if articles}}
            {{#each articles}}
                <div class="col s12 m6">
                    <div class="card center news grey lighten-5">
                        <div class="card-image">
                            <img class="responsive-img" src="{{this.img}}" alt="" >
                            <span class="card-title">{{this.title}}</span>
                        </div>
                        <div class="card-content">
                            <p class="hide-on-small-only grey-text text-darken-4">{{this.description}}</p>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <form action="/{{this._id}}?_method=DELETE" method="POST">
                                    <button type="submit" class="grey darken-1 btn waves-light">Notes</button>
                                </form>
                            </div>
                            <div class="col s6">
                                <form action="/{{this._id}}?_method=DELETE" method="POST">
                                    <button type="submit" class="grey darken-1 btn waves-light">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{else}}
            There's nothing here, save some articles and come back!
        {{/if}}
    </div>
</div>


<script type="text/javascript">
    window.onload = function() {
        document.getElementById('saved').classList.add('active');
        document.getElementById('scrape-button').classList.add('hide');
    }
</script>
